# Byte-compiled/optimized files
__pycache__/
*.py[co]

# Node dependency directory
node_modules/

# Jupyter notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Misc files
Deep\ Learning/workspace-utils.py
*/*.html
*/data/**/*.csv
!*/data/disaster_*.csv
